.App{
  height: 100%;
}

.character-card::before {
  position: absolute;
  top: 2rem;
  right: -0.5rem;
  content: "";
  background: #283593;
  height: 28px;
  width: 28px;
  transform: rotate(45deg);
}

.character-card::after {
  position: absolute;
  content: attr(data-label);
  top: 11px;
  right: -14px;
  padding: 0.5rem;
  width: 10rem;
  background: #3949ab;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}

@keyframes twinkle {
  50% {
    opacity: 0;
  }
}

.indicator {
  background-color: #f5222d;
  border-radius: 50%;
  height: 16px;
  margin-right: 0.5rem;
  width: 16px;
}

.indicator--alive {
  -webkit-animation: twinkle 1s ease-in-out infinite normal;
  animation: twinkle 1s ease-in-out infinite normal;
  background-color: #52c41a;
}

.indicator--unknown {
  background-color: #f9a608;
}
